html {
    font-family: 'Francois One', sans-serif;
    margin: 0px;
    
}


body{
    margin: 0px;
    padding: 0px;
    position: relative;
    width: 100%;
    height: 100%;
    
    
}
    
#principal {
    display: none;

    
}

#logo {
    width: 160px;
    height: 160px;
    float: top;
    position: relative;
    margin-left: 40px;
    margin-top: -80px;
  
    
}


#topleft {
    
    padding-top: 40px;
    padding-left: 40px;
    font-size: 65px;
    margin-top: 0px;
    color: darkgreen;
    text-shadow: 1px 1px 3px white;
    text-transform: uppercase;
    width: 300px;
    letter-spacing: 4px;

}


.navegacion ul {
    right: 0px;
    top: 50px;
    display: inline;
    position: absolute;
    list-style-type: none;
    text-transform: uppercase;
    text-shadow: 1px 1px 3px white;
    color: darkgreen;
    padding-right: 10px;
      
}

.navegacion li {
    display: inline;
    padding: 10px;
    list-style-type: none;
    background-color: lawngreen;
    color: darkgreen;
    font-size: 15px;
    text-align: right;
     
}

.navegacion li a {
    text-decoration: none;
    color: inherit}

#banner {
    background-color: lawngreen;
    background-blend-mode: lighten;
    color: darkgreen;
    width: 65%;
    height: 40px;
    font-size: 30px;
    text-align: right;
    top: -200px;
    position: relative;
    display: block;
    font-weight: 400;
    z-index: -1;
    font-style: oblique;
    padding-right: 10px;
    
        
}

#fondo {
    position: fixed;
    z-index: -2;
    background-image: url("../imagen/mydesign.jpg");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    opacity: 0.40;
    display:block;
    filter: blur(1.5px);
    
    
}

.fechas,.content-about, .content-contact {
    
    font-size: 17px;
    position: relative;
    margin-left: 620px;
    top: -200px;
    margin-right: 30px;
    bottom:auto;
    color: darkgreen;
    text-shadow:  0.2px 0.2px 0.2px white;
    text-align: justify;
}

 #rules-content {
    font-size: 17px;
    position: relative;
    z-index: 1;
    color: darkgreen;
    display: block;
    margin-left: 500px;
    top: -300px;
    margin-right: 30px;
    bottom:auto;
    color: darkgreen;
    text-shadow:  0.3px 0.3px 0.5px white;
    text-align: justify;
    
}

#rules-content ul {
    margin-left: auto;
}

#rules-content li{
    padding: 10px;
    text-align: justify;
}

#list-fields, #list-team-bench {
    list-style-type: lower-latin;
    
}

.tables {
    position:relative;
    
    
}

.content-game {
    position: relative;
    color: darkgreen;
    left: 300px;
    top: -250px;
    width: 100%;
    display: block;
    
}

.header-game-info {
    margin-left: 80px;
    font-size: 27px;
    display: block;
    text-shadow:  0.3px 0.3px 0.5px white;
    }



#september {
    display: inline-table;
    margin-left: 10px;
    top:80px;
    position: relative;
    font-size: 20px;
}

#october {
    display: inline-table;
    top:80px;
    position: relative;
    font-size: 20px;
    padding-left: 50px;
    
    
}

thead {
    font-size: 25px;
    font-style: oblique;
    color: darkgreen;
   
    
    
}

 thead>tr:first-of-type {
    background-color: lawngreen
}

#locations { 
       
    top:110px;
    display:inline-table;
    position: relative;
    font-size: 20px;
    width: 833px;

}



#locations thead, #locations tbody {
    width:100%;
    
}

#locations td {
    top: 10px;
    vertical-align: top;
}


#extra-info {
    margin-top: 150px;
    position: relative;
    font-size: 20px;
    left:-15px;
 
}

#extra-info p {
    padding: 10px;
    margin: 5px;
    max-width: 600px;
    font-weight: 100;
}

.tables td {
    padding-top: 10px;
}


.game-contact{
    padding-top: 40px;
    position:relative;
}


em {    
    color: darkgreen;
    text-shadow:  0.3px 0.3px 0.5px white;
    font-weight: bold;
    font-style: normal;
    
}

#confirmation {
    margin-left: 120px;
    font-size: 27px;
    top: -300px;
    position: relative;
    color: darkgreen;
    }

.form { 
    margin-left: 400px;
    font-size: 17px;
    top: -210px;
    position: relative;
    color: darkgreen;
    max-width: 600px;
    
}

.form div{
    padding-top: 15px;
    margin:0px;
}

.form select{
    padding-top: 5px;
}


.permission p {
    font-size: 15px;
    font-style: oblique;
    text-align: justify;
    text-shadow: 0.3px 0.3px 0.5px white;
    
}

#submit { 
    margin-top: 20px;
    color:darkgreen;
    background-color: lawngreen;
    border: 3px darkgreen;
    width: 200px;
    height:25px;
    font-weight:600;
    font-size: 15px;
    box-shadow: 2px 2px 2px darkgreen;

}


input, select, radius {
  
  border: 2px solid lawngreen;
  border-radius: 2px;
  
}

input[type=text] {
    width: 70%;
    height: 20px;
}

input[type=email] {
    height:20px;
}

input[type=number] {
    height:20px;
}

input[type=tel] {
    height:20px;
}

input[type=checkbox] {
    border: 2px solid white;
    border-radius: 1px;
    margin-top: 15px;
    
}
 
.form hr {
    margin-top: 30px;
} 

.form div label:first-child, only-child {
    color: darkgreen;
    font-size: 20px;
    text-shadow: 0.5px 0.5px 0.5px white;
    font-weight: 400;
    
}

.permission input {
    max-width: 210px;
    
}

