html {
    font-family: 'Francois One', sans-serif;
}

#principal {
    width: 100%;
    height: 320px;
    display: block;
    margin: 0px;

}

header {
    margin: 0px;
    position: relative;
    bottom: 0;
    right: 0;
    display: block;

}

body {
    margin: 0px;
    padding:
}

#banner {
    background-color: black;
    color: white;
    width: 100%;
    height: 40px;
    font-size: 30px;
    text-align: center;
    margin: 0px;
    padding-top: 5px;
    position: relative;
    display: block;
    font-stretch: expanded;
}


#topleft {
    position: absolute;
    top: 5px;
    left: 15px;
    font-size: 35px;
    margin: 0px;
    color: black;
}

ul {
    list-style-type: none;
    left: 40px;
    width: 200px;
    display: inline;
    
}

li a {
    color: cornflowerblue;
    margin: 30px;
}

#logo {
    width: 150px;
    height: 150px;
    float: right;
    position: relative;
    margin-right: 110px;
    bottom: 110px;


}

.fechas,.content-about, .content-contact {
    font-size: 14px;
    position: absolute;
    margin-left: 300px;
    margin-top: -180px;

}

h3 {
    font-style: italic;
}

.fechas > p {
    margin-left: 25px;
}


li {
    margin: 30px;
}
