html {
    font-family: 'Francois One', sans-serif;
    margin: 0px;
    
}

body{
    margin: 0px; 
}

#topleft {
    
    padding-top: 15px;
    padding-left: 10px;
    font-size: 35px;
    margin-top: 0px;
    color: black;
    font-style: italic;
}

#principal {
    width: 100%;
    height: 320px;
    display: block;
    margin: 0px;
}

#banner {
    background-color: black;
    color: white;
    width: 100%;
    height: 40px;
    font-size: 30px;
    text-align: center;
    margin: 0px;
    position: relative;
    display: block;
    font-weight: 400;
    letter-spacing: 0.4em;
    
        
}

#logo {
    width: 150px;
    height: 150px;
    float: left;
    position: relative;
    margin-left: 0px;
    margin-top: 150px;
    bottom: 110px;
}

ul {
    right: 30px;
    top: 55px;
    width: 300px;
    height: 35px;
    display: inline;
    float: right;
    position: absolute;
    list-style-type: none;
   
    
    
    
}

li {
    display: inline;
    padding: 20px;
    list-style-type: none;
    border: solid 1px black;
    height: 40px;
    background-color: skyblue;
    padding: 6px;
    width: 30%;
    
   
}

li a {
    text-decoration: none;
    color: inherit;
    }



.fechas,.content-about, .content-contact {
    
    font-size: 14px;
    position: absolute;
    margin-left: 300px;
    margin-top: 0px;
}

.content-contact p {
    margin-top: 40px;
}